* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

body {
  background: #0d1117;
  color: #e6edf3;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 3px solid #2ea043;
}

/* BUTTONS */
.hero-actions {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.btn {
  padding: 12px 20px;
  border-radius: 6px;
  border: 1px solid #30363d;
  text-decoration: none;
  transition: 0.3s;
  min-width: 150px;
  text-align: center;
}

.btn.primary {
  background: #238636;
  color: white;
}

.btn.ghost {
  color: #e6edf3;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(88,166,255,0.4);
}

/* SECTION */
.section {
  max-width: 1000px;
  margin: 60px auto;
  padding: 0 20px;
}

/* SKILLS CAROUSEL */
.skills-carousel {
  overflow: hidden;
  margin-top: 20px;
}

.skills-track {
  display: flex;
  gap: 20px;
  animation: scroll 20s linear infinite;
}

.skill-box {
  min-width: 140px;
  padding: 15px;
  background: #161b22;
  border-radius: 10px;
  border: 1px solid #222;
  text-align: center;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* EXPERIENCE */
.experience {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.exp-card {
  background: #161b22;
  border: 1px solid #222;
  padding: 20px;
  border-radius: 10px;
}

.exp-header {
  display: flex;
  justify-content: space-between;
}

.company {
  color: #58a6ff;
}

.exp-points {
  margin-top: 10px;
  padding-left: 20px;
}

/* PROJECTS */
.projects {
  display: grid;
  gap: 20px;
}

.project-card {
  padding: 20px;
  background: #161b22;
  border-radius: 10px;
  border: 1px solid #222;
}

.project-meta {
  font-size: 0.8rem;
  color: #9da7b3;
  margin: 8px 0;
}

.tech-stack span {
  background: #21262d;
  padding: 5px 8px;
  border-radius: 5px;
  margin-right: 5px;
}

.link {
  color: #58a6ff;
  text-decoration: none;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #222;
}